.navContainer {
    z-index: 1;
}

nav .backButtonContainer {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

@supports(mix-blend-mode: difference) {
    .navContainer {
        mix-blend-mode: difference;
    }
 nav .backButtonContainer {
        color: #fff;
    }

nav .backButtonContainer path {
    stroke: #fff;
}

}
